langchain==0.0.350
langchain-community==0.0.20
pydantic==1.10.13
transformers==4.38.0
sentence-transformers==2.2.2
newspaper3k==0.2.8
beautifulsoup4==4.12.2
chromadb==0.4.22
streamlit==1.29.0
torch==2.2.0
requests==2.31.0
jupyter==1.0.0
lxml_html_clean==0.2.0
urllib3==1.26.18
nltk==3.8.1
pyngrok==7.1.6
sacremoses==0.1.1
